* {
    padding: 0;
    margin: 0;
}

body{
    background: #202020;
}

.form-project{
    width: 15rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-form{
    width: 15rem;
    height: 10rem;
    resize: none;
}

.text-form, input {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 4px;
    outline: none;
}


.submit-button{
    margin-top: 10px;
    width: 5rem;
    height: 2.5rem;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin: 5px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

input{
    width: 15rem;
    height: 2rem;
}

.table-container{
    display: flex;
    justify-content: center;
}

.project-table {
    margin: 2rem auto;
    width: 90%;
    border-collapse: collapse;
}

.project-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.project-table td{
    color: #ddd;
}

.project-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.container{
    display: flex;
    height: 80vh;
    width: 100%;
}


.left-container{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    width: 30%;
}

.right-container{

}
